# --- Repositorios Extra ---
--extra-index-url https://download.pytorch.org/whl/cpu

# --- API y Servidor (Backend) ---
fastapi
uvicorn
pydantic
python-multipart
requests
httpx

# --- Procesamiento de Datos y Predicciones ---
numpy
pandas
prophet

# --- Inteligencia Artificial y Modelos ---
llama-cpp-python
sentence-transformers
torch

# --- Base de Datos Vectorial ---
sqlite-vec
